:root {
  --color-background: black;
  --color-font: white;
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
  color: var(--color-font);
}

.menu {
  display: flex;
  height: 100vh;
}

.option {
  width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option:hover:first-of-type {
  background-color: orangered;
}

.option:last-of-type:hover {
  background-color: yellow;
}

.option:hover:nth-of-type(2) {
  background-color: blue;
}

a {
  text-decoration: none;
  color: var(--color-font);
  font-size: 4vw;
}