:root {
  --color-background-first: #1b1b32;
  --color-background-second: #7a1cac;
  --color-background-third: #ad49e1;
  --color-background-fourth: #ebd3f8;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: var(--color-background-first);
  color: white;
}

a:link,
a:active,
a:visited {
  color: white;
}

/*Top main menu*/

.menu {
  background-color: var(--color-background-second);
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.option {
  width: 100%;
  height: 100%;
  display: flex;
}

.option:hover {
  background-color: var(--color-background-first);
  border-bottom: 3px solid var(--color-background-third);
}

.option a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Main content*/

main {
  border: 1px solid white;
  width: 70%;
  margin: 0rem auto;
  padding: 5rem 2rem 1rem;
}

/*End of component*/