:root {
  --color-background-first: #1b1b32;
  --color-background-second: #7a1cac;
  --color-background-third: #ad49e1;
  --color-background-fourth: #ebd3f8;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: var(--color-background-first);
  color: white;
}

a:link,
a:active,
a:visited {
  color: white;
}

/*Top main menu*/

.menu {
  background-color: var(--color-background-second);
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.option {
  width: 100%;
  height: 100%;
  display: flex;
}

.option:hover {
  background-color: var(--color-background-first);
  border-bottom: 3px solid var(--color-background-third);
}

.option a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Main content*/

main {
  border: 1px solid white;
  width: 70%;
  margin: 0rem auto;
  padding: 5rem 2rem 1rem;
}

/*End of component*/

.property-title {
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.container {
  height: 450px;
  background-color: #ad49e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  background-color: antiquewhite;
  border: 1px solid black;
  width: 150px;
  height: 150px;
}

.align-items-parent {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.align-items-child {
  background-color: antiquewhite;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  
}

.aspect-ratio-child {
  background-color: antiquewhite;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.bg img {
  width: 300px;
  aspect-ratio: 3/4;
}

.background {
  background: red url(telephone512.png) center/cover no-repeat local;
}

.border{
  width: 200px;
  height: 200px;
  border-width: 10px;
  border-radius: 20px;
  border-style: solid;
  margin-bottom: 10px;
  border-color: rgb(124, 12, 77);
}

.position {
  position: absolute;
  top: 3px;
}